registry=https://registry.npmmirror.com
@joyu:registry=https://npm.huanle.com/

email=994418277@qq.com
SASS_BINARY_SITE=https://http://npmmirror.com/mirrors/node-sass
fund=false
auto-install-peers=true
strict-peer-dependencies=false
//registry.npm.taobao.org/:_auth="aGFuamlhbmd0dToxMjM0NTY="
node-options=--max-old-space-size=10240
legacy-peer-deps=true
